/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */
/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */
body {
  background-color: #fff;
  color: #000; }

body,
input,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px; }

.warning {
  background-color: #faa;
  border-radius: 5px;
  padding: 5px;
  background-image: url(../images/md-warning.svg);
  background-size: 32px;
  background-position: 5px 5px;
  background-repeat: no-repeat; }
  :root:not([dir="rtl"]) .warning {
    padding-left: 42px; }
  :root[dir="rtl"] .warning {
    padding-right: 42px; }

.success {
  background-color: #cfc;
  border-radius: 5px;
  padding: 5px; }

.error {
  font-size: 16px;
  color: #f44; }

:root:not([dir="rtl"]) .unknown-error-cancel {
  float: right; }

:root[dir="rtl"] .unknown-error-cancel {
  float: left; }

.unknown-error-details {
  font-size: 16px;
  white-space: pre-wrap; }

.help-icon {
  display: inline-block;
  cursor: help;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-image: url("../images/ios-help-circle-outline.svg"); }
  @media print {
    .help-icon {
      display: none; } }

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none; }
  :root:not([dir="rtl"]) input[type="checkbox"] {
    margin-right: 5px; }
  :root[dir="rtl"] input[type="checkbox"] {
    margin-left: 5px; }

input[type="checkbox"]:checked {
  background-image: url(../images/checkmark-round.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center; }

.modalOverlay {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); }

.modalOverlay-inner {
  margin: auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px; }
  .modalOverlay-inner.stretch {
    width: 100%; }
  .modalOverlay-inner > :last-child {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  .modalOverlay-inner.cancelable > :last-child {
    padding-top: 0; }

.modalOverlay-cancel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.cancel {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/close-round.svg"); }
  .cancel:hover {
    background-color: #e2f4ff; }

.modalOverlay-cancel-container > .cancel {
  margin: 5px; }

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0; }

.setting {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 0; }

.setting:not(:last-child) {
  border-bottom: 1px solid #ccc; }

.setting-label {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 70%;
  margin-right: 15px; }

.description {
  font-size: 80%;
  opacity: 0.5;
  padding-left: 15px; }

.setting input:not([type="checkbox"]) {
  flex-grow: 1;
  width: 24px; }

.spinning-wheel {
  min-width: 200px;
  min-height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-image: url(images/circles.svg); }
