{{ define "main" }}
  {{ if and (eq .Kind "section") .Content }}
    {{ partial "pages/post.html" . }}
  {{ else }}
    <main class="main single" id="main">
      <div class="main-inner">
        {{ range .RegularPages }}
          <article class="content post home">
            <h2 class="post-title">
              <a href="{{ .RelPermalink }}" class="summary-title-link">{{ (partial "utils/title.html" (dict "$" . "title" .LinkTitle)).htmlTitle }}</a>
            </h2>
            {{ $summary := partial "utils/summary.html" . }}
            <summary class="summary">
              {{ $summary }}
            </summary>
            {{ if ne $summary .Content }}
              <div class="read-more-container">
                <a href="{{ .RelPermalink }}" class="read-more-link">{{ i18n "readMore" }} »</a>
              </div>
            {{ end }}
          </article>
        {{ end }}
      </div>
    </main>
  {{ end }}
{{ end }}
