/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */
/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */
body {
  background-color: #fff;
  color: #000; }

body,
input,
button {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 24px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.warning {
  background-color: #faa;
  border-radius: 5px;
  padding: 5px;
  background-image: url(../images/ionicons/md-warning.svg);
  background-size: 32px;
  background-position: 5px 5px;
  background-repeat: no-repeat; }
  :root:not([dir="rtl"]) .warning {
    padding-left: 42px; }
  :root[dir="rtl"] .warning {
    padding-right: 42px; }

.success {
  background-color: #cfc;
  border-radius: 5px;
  padding: 5px; }

.error {
  font-size: 16px;
  color: #f44; }

:root:not([dir="rtl"]) .unknown-error-cancel {
  float: right; }

:root[dir="rtl"] .unknown-error-cancel {
  float: left; }

.unknown-error-details {
  font-size: 16px;
  white-space: pre-wrap; }

.help-icon {
  display: inline-block;
  cursor: help;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/ionicons/md-help-circle-outline.svg); }
  @media print {
    .help-icon {
      display: none; } }

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none; }
  :root:not([dir="rtl"]) input[type="checkbox"] {
    margin-right: 5px; }
  :root[dir="rtl"] input[type="checkbox"] {
    margin-left: 5px; }

input[type="checkbox"]:checked {
  background-image: url(../images/ionicons/md-checkmark.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center; }

.modalOverlay {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); }

.modalOverlay-inner {
  margin: auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px; }
  .modalOverlay-inner.stretch {
    width: 100%; }
  .modalOverlay-inner > :last-child {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  .modalOverlay-inner.cancelable > :last-child {
    padding-top: 0; }

.modalOverlay-cancel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.cancel {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url(../images/ionicons/md-close.svg); }
  .cancel:hover {
    background-color: #e2f4ff; }

.modalOverlay-cancel-container > .cancel {
  margin: 5px; }

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0; }

.setting {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 0; }

.setting:not(:last-child) {
  border-bottom: 1px solid #ccc; }

.setting-label {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 70%;
  margin-right: 15px; }

.description {
  font-size: 80%;
  opacity: 0.5;
  padding-left: 15px; }

.setting input:not([type="checkbox"]) {
  flex-grow: 1;
  width: 24px; }

.accessKeyMarker {
  text-decoration: underline; }

.accessKeyHint {
  position: absolute;
  display: flex;
  font-size: 18px;
  border: 1px solid black !important;
  border-radius: 3px;
  background-color: #ffffe0;
  text-decoration: underline;
  min-width: 28px;
  min-height: 28px;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  z-index: 10001; }

:root:not([dir="rtl"]) body {
  padding-left: 1.5em; }

:root[dir="rtl"] body {
  padding-right: 1.5em; }

@media print {
  :root:not([dir="rtl"]) body {
    padding-left: 0; }
  :root[dir="rtl"] body {
    padding-right: 0; } }

@media print {
  body,
  input,
  button {
    font-size: 12px; } }

pre {
  white-space: pre-line;
  margin: 5px 0; }

.export,
.import,
.print {
  min-width: 48px;
  min-height: 48px;
  background-size: 48px;
  background-repeat: no-repeat; }
  @media print {
    .export,
    .import,
    .print {
      display: none; } }

.to-clipboard-link,
.password-remove-link {
  min-width: 32px;
  min-height: 32px;
  background-size: 32px;
  background-repeat: no-repeat; }
  @media print {
    .to-clipboard-link,
    .password-remove-link {
      display: none; } }

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.title {
  flex-grow: 1;
  font-size: 120%; }

.global-actions {
  display: flex;
  flex-direction: row; }

.options {
  float: right;
  margin-inline-start: 3em; }
  @media print {
    .options {
      display: none; } }

@media print {
  .intro {
    display: none; } }

.shortcuts {
  position: fixed;
  top: 5px;
  width: 1em;
  border: 1px solid black;
  padding: 0 5px;
  text-align: center;
  font-size: 80%; }
  :root:not([dir="rtl"]) .shortcuts {
    left: 0;
    border-left-width: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  :root[dir="rtl"] .shortcuts {
    right: 0;
    border-right-width: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .shortcuts > a {
    display: block;
    margin: 5px 0; }
  @media print {
    .shortcuts {
      display: none; } }

.export {
  background-image: url(../images/export.svg); }

.import {
  background-image: url(../images/import.svg); }

.print {
  background-image: url(../images/ionicons/md-print.svg); }

@media print {
  .list {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2; } }

.site-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0; }
  .site-container > * {
    padding: 0 5px; }
  @media print {
    .site-container {
      page-break-inside: avoid; } }

.site-name {
  font-weight: bold;
  background-color: #fee;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: sticky;
  top: 0; }
  @media print {
    .site-name {
      background-color: transparent; } }
  @media print {
    .site-name > a {
      color: inherit;
      text-decoration: none; } }

.password-info-container {
  border-top: 1px solid #888; }
  .password-info-container:hover {
    background-color: #e2f4ff; }
  @media print {
    .password-info-container {
      page-break-inside: avoid; } }

.password-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.user-name-container {
  display: flex;
  flex-grow: 1;
  width: 0; }

.to-clipboard-link {
  background-image: url(../images/ionicons/md-clipboard.svg); }

.user-name {
  font-weight: bold; }

.password-revision::before {
  content: "#"; }

.password-revision {
  font-size: 16px;
  vertical-align: text-top; }
  @media print {
    .password-revision {
      font-size: 9px; } }

.password-value {
  flex-grow: 1;
  width: 0; }

.password-remove-link {
  background-image: url(../images/ionicons/md-trash.svg); }

:root:not([dir="rtl"]) .password-info {
  margin-left: 5em; }

:root[dir="rtl"] .password-info {
  margin-right: 5em; }

.password-type {
  white-space: pre-wrap; }

.warning,
.success {
  margin-top: 2px; }

.exportDataFrame {
  visibility: collapse;
  width: 0;
  height: 0;
  border-width: 0; }

.modalOverlay-inner {
  box-sizing: border-box;
  width: 50%;
  min-width: 20em; }

.in-progress {
  display: flex;
  align-items: center;
  justify-content: center; }

.spinning-wheel {
  min-width: 200px;
  min-height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-image: url(../images/circles.svg); }

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px; }
