/*
 * This Source Code is subject to the terms of the Mozilla Public License
 * version 2.0 (the "License"). You can obtain a copy of the License at
 * http://mozilla.org/MPL/2.0/.
 */
body {
  background-color: #fff;
  color: #000; }
  :root:not([dir="rtl"]) body {
    padding-left: 1.5em; }
  :root[dir="rtl"] body {
    padding-right: 1.5em; }
  @media print {
    :root:not([dir="rtl"]) body {
      padding-left: 0; }
    :root[dir="rtl"] body {
      padding-right: 0; } }

body,
input,
button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px; }
  @media print {
    body,
    input,
    button {
      font-size: 12px; } }

pre {
  white-space: pre-line;
  margin: 5px 0; }

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0; }
  :root:not([dir="rtl"]) input[type="checkbox"] {
    margin-right: 5px; }
  :root[dir="rtl"] input[type="checkbox"] {
    margin-left: 5px; }

input[type="checkbox"]:checked {
  background-image: url(../images/checkmark-round.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center; }

#export,
#import,
#print {
  min-width: 48px;
  min-height: 48px;
  background-size: 48px;
  background-repeat: no-repeat; }
  @media print {
    #export,
    #import,
    #print {
      display: none; } }

.to-clipboard-link,
.password-remove-link {
  min-width: 32px;
  min-height: 32px;
  background-size: 32px;
  background-repeat: no-repeat; }
  @media print {
    .to-clipboard-link,
    .password-remove-link {
      display: none; } }

#title {
  font-size: 120%;
  display: flex;
  flex-direction: row;
  align-items: center; }

#title-text {
  flex-grow: 1; }

#options {
  float: right;
  margin-inline-start: 3em; }
  @media print {
    #options {
      display: none; } }

@media print {
  #intro {
    display: none; } }

#shortcuts {
  position: fixed;
  top: 5px;
  width: 1em;
  border: 1px solid black;
  padding: 0 5px;
  text-align: center;
  font-size: 80%; }
  @media print {
    #shortcuts {
      display: none; } }

:root:not([dir="rtl"]) #shortcuts {
  left: 0;
  border-left-width: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

:root[dir="rtl"] #shortcuts {
  right: 0;
  border-right-width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

#shortcuts > a {
  display: block;
  margin: 5px 0; }

#export {
  background-image: url(../images/export.svg); }

#import {
  background-image: url(../images/import.svg); }

#print {
  background-image: url(../images/ios-printer.svg); }

@media print {
  #list {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2; } }

.site-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0; }
  @media print {
    .site-container {
      page-break-inside: avoid; } }

.site-container > * {
  padding: 0 5px; }

.site-name {
  font-weight: bold;
  background-color: #fee;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: sticky;
  top: 0; }
  @media print {
    .site-name {
      background-color: transparent; } }

@media print {
  .site-name > a {
    color: inherit;
    text-decoration: none; } }

.password-info-container {
  border-top: 1px solid #888; }
  @media print {
    .password-info-container {
      page-break-inside: avoid; } }

.password-info-container:hover {
  background-color: #e2f4ff; }

.password-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.user-name-container {
  display: flex;
  flex-grow: 1;
  width: 0; }

.to-clipboard-link {
  background-image: url(../images/archive.svg); }

.user-name {
  font-weight: bold; }

.password-revision::before {
  content: "#"; }

.password-revision {
  font-size: 16px;
  vertical-align: text-top; }
  @media print {
    .password-revision {
      font-size: 9px; } }

#list:not(.show-passwords) .password-value {
  display: none; }

.password-value {
  flex-grow: 1;
  width: 0; }

.password-remove-link {
  background-image: url(../images/ios-close-outline.svg); }

:root:not([dir="rtl"]) .password-info {
  margin-left: 5em; }

:root[dir="rtl"] .password-info {
  margin-right: 5em; }

.password-type {
  white-space: pre-wrap; }

@media print {
  .password-type.generated {
    display: none; } }

.password-type.generated-print:not([hidden]) {
  display: none; }
  @media print {
    .password-type.generated-print:not([hidden]) {
      display: block; } }

#list:not(.show-notes) .notes {
  display: none; }

.warning {
  margin-top: 2px;
  background-color: #faa;
  border-radius: 5px;
  padding: 5px;
  background-image: url(../images/android-warning.svg);
  background-size: 32px;
  background-position: 5px 5px;
  background-repeat: no-repeat; }
  :root:not([dir="rtl"]) .warning {
    padding-left: 42px; }
  :root[dir="rtl"] .warning {
    padding-right: 42px; }

.success {
  margin-top: 2px;
  background-color: #cfc;
  border-radius: 5px; }

#exportDataFrame {
  visibility: collapse;
  width: 0;
  height: 0;
  border-width: 0; }

#modalOverlay:not([hidden]) {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); }

#modalOverlay > * {
  display: none; }

#modalOverlay > [active="true"] {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px; }

#enter-master {
  box-sizing: border-box;
  width: 50%;
  min-width: 20em;
  min-height: 160px;
  background-size: 128px;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  background-image: url(../images/icon.svg); }
  :root:not([dir="rtl"]) #enter-master {
    padding-left: 160px; }
  :root[dir="rtl"] #enter-master {
    padding-right: 160px; }

#in-progress {
  align-items: center;
  justify-content: center; }

#spinning-wheel {
  min-width: 200px;
  min-height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-image: url(../images/circles.svg); }

.error {
  font-size: 16px;
  color: #f44; }

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px; }
