{{- $src := .Get 0 -}}
{{- $alt := .Get 1 -}}
{{- $width := "" -}}
{{- $href := "" -}}
{{- $title := "" -}}
{{- $parclass := "" -}}
{{- $thumb := "" -}}

{{- if .IsNamedParams -}}
{{- $src = .Get "src" -}}
{{- $alt = .Get "alt" -}}
{{- $width = .Get "width" -}}
{{- $href = .Get "href" -}}
{{- $title = .Get "title" -}}
{{- $parclass = .Get "class" -}}
{{- $thumb = .Get "thumb" -}}
{{- end -}}

{{- if not $alt -}}
{{- errorf "Missing alt parameter for image %s" $src -}}
{{- end -}}

{{- if $thumb -}}
{{- $width = int (default "200" $width) -}}
{{- else -}}
{{- $width = int (default "0" $width) -}}
{{- end -}}

{{- $image := $.Page.Resources.GetMatch $src -}}
<figure{{ with $parclass }} class="{{ $parclass }}"{{ end }}>

{{- if $thumb -}}
  <a href="{{ $image.RelPermalink }}">
{{- else if $href -}}
  <a href="{{ $href }}">
{{- end -}}

{{- if $width -}}
<img src="{{ $image.RelPermalink }}" class="article-image" alt="{{ $alt }}" {{ with $title }}title="{{ . }}" {{ end }}width="{{ $width }}" height="{{ div (mul $image.Height $width) $image.Width }}" />
{{- else -}}
<img src="{{ $image.RelPermalink }}" class="article-image" alt="{{ $alt }}" {{ with $title }}title="{{ . }}" {{ end }}width="{{ $image.Width }}" height="{{ $image.Height }}" />
{{- end -}}

{{- with .Inner -}}
<figcaption>{{ . }}</figcaption>
{{- end -}}

{{- if or $thumb $href -}}
  </a>
{{- end -}}
</figure>
